:root {
  /* Font sizes */
  --h1-large: 2.25rem;
  --h1: 1.5rem;
  --nav-link-size: 20px;
  --p: 1rem;
  --p-small: 0.75rem;

  /* Colors */
  --color-white: #fff;
  --color-almost-white: #e6e6e6;
  --color-black: #000;
  --color-light-grey: #8f8f8f;
  --color-grey: #444444;
  --color-almost-black: #35393a;

  /* Font family */
  --font-family-base: Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}
