* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.site-title {
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: var(--color-red);
  text-align: center;
  padding-bottom: 6px;
  color: #fff;
  font-size: var(--h1);
  font-weight: bold;
  font-family: var(--font-title);
  border-bottom-style: solid;
  border-color: var(--color-white);
  letter-spacing: 1px;
  text-shadow: 0 0.5px 0 #ccc, 0 1px 0 #c9c9c9, 0 1.5px 0 #bbb, 0 2px 0 #b9b9b9,
    0 2.5px 0 #aaa, 0 3px 0.5px rgba(0, 0, 0, 0.1), 0 0 2.5px rgba(0, 0, 0, 0.1),
    0 0.5px 1.5px rgba(0, 0, 0, 0.3), 0 1.5px 2.5px rgba(0, 0, 0, 0.2),
    0 2.5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.15);
}

body {
  background: var(--color-almost-black);
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  margin: 10px 5%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
  border-radius: 8px;
}

.container {
  background-color: turquoise;
  height: 330px;
  width: 100%;
}

@media (min-width: 768px) {
  /* Media for tablets */
  .container {
    background-color: rgb(224, 64, 152);
    height: 630px;
    border-bottom-style: solid;
  }

  .site-title {
    font-size: var(--h1-middle);
    letter-spacing: 1.5px;
  }

  .image-container {
    margin: 10px 10%;
  }
}

@media (min-width: 1024px) {
  .container {
    background-color: rgb(101, 224, 64);
    height: 630px;
    border-bottom-style: solid;
  }
  .site-title {
    font-size: var(--h1-large);
    letter-spacing: 2px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }

  .image-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: first baseline;
    margin: 10px 10px;
    gap: 10px; */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 370px 10px;
    grid-auto-rows: 20px; */
  }

  .image-container img {
    /* width: 250px;
    grid-row-end: span 1; */
    /* border-radius: 8px; */
  }
}
